.qodo
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/client/node_modules/
/client/src/components/provider
/client/src/components/utils
/client/src/components/custom/Allproduct.jsx
/client/src/components/custom/Analytics.jsx
/client/src/components/custom/AppSidebar.jsx
/client/src/components/custom/CartDrawer.jsx
/client/src/components/custom/chart1.jsx
/client/src/components/custom/Footer.jsx
/client/src/components/custom/HeaderDisplay.jsx
/client/src/components/custom/Navbar.jsx
/client/src/components/custom/Settings.jsx
/client/src/components/custom/ModeToggle.jsx


# /client/components.json
# /client/vite.config.js
# /client/src/App.jsx
# /client/src/constants





/node_modules/
/build/


.env
.env.*


# /server/middlewares/
# /server/node_modules/
# /server/utils/
# /server/controllers/pincodeController.js 
# /server/controllers/productController.js 
# /server/controllers/settingsController.js 
# /server/models/Product.js


